.editor-container {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}
.editor-container button{
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
textarea {
    width: 100%;
    height: 100px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}
.comments {
    margin-top: 20px;
}
.comment {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.header-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
