<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/images/g3a7adc2b05c8e7af06ebbaaae14c-h_lwi1zswa.png}" type="image/x-icon">
    <link href="@https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link th:href="@{/side/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <h1>Quizify</h1>
            <ul class="list-unstyled components mb-5">
                <li >
                    <a th:href="@{/userHome}"><span class="mr-2"><i class="fa-solid fa-house"></i></span>Home</a>
                </li>
                <li>
                    <a th:href="@{/quiz-banks/library}"><span class="mr-2"><i class="fa-solid fa-book"></i></span>My Library</a>
                </li>
                <li>
                    <a th:href="@{/show/favorite_quiz_banks}"><span class="mr-2"><i class="fa-solid fa-heart"></i></span>Favorite Quiz Bank</a>
                </li>
                <li>
                    <a th:href="@{/tests/my-practice}"><span class="mr-2"><i class="fa-solid fa-feather"></i></span>My Practice</a>
                </li>

                <li th:if="${session.user.getRole().id ==1 || session.user.getRole().id==2}">
                    <a href="#pageSubmenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="mr-2"><i class="fa-solid fa-list-check"></i></span>Management</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a th:href="@{/manage_account}">Account List</a>
                        </li>
                        <li>
                            <a th:href="@{/quiz-banks/quiz-banks-list}">Quiz Banks List</a>
                        </li>
                        <li class="active">
                            <a th:href="@{/category}">Category List</a>
                        </li>
                    </ul>
                </li>


                <li th:if="${session.user.getRole().id ==1 || session.user.getRole().id==2}">
                    <a th:href="@{/show/statistics}"><span class="mr-2"><i class="fa-solid fa-chart-line"></i></span>Dashboard</a>
                </li>

                <li>
                    <a th:href="@{/}"><span class="mr-2"><i class="fa-solid fa-circle-info"></i></span>About</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright © 2024 Quizify. All Rights Reserved.
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary me-3">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 16px">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/userHome}">
                                <span class="mr-2"><i class="fa-solid fa-house"></i></span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" id="notificationButton" href="#" type="button"><i class="fa-solid fa-bell"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="link" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" >
                                <span th:text="${session.user.fullName}"></span>
                                <span class="ml-1"><i class="fa-solid fa-user"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-item-custom" th:href="@{/profile/{id}(id=${session.user.id})}">My Profile <i class="fa-solid fa-user-pen"></i></a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item dropdown-item-custom" >Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div style="text-align: center">
            <h1 >Categories List</h1>
        </div>


        <a class="btn btn-primary btn-sm mb-3" th:href="@{/show/create/category}"> Create Category </a>
        <h5 style="color: green;text-align: center" th:if="${message != null}">
            <i th:text="${message}"></i>
        </h5>
        <table border="1" class = "table table-striped table-responsive-md" id="example">
            <thead>
            <tr>
                <th>ID</th>
                <th>CATEGORY </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listCate : ${listCategories}" >
                <td th:name="categoryId" th:text="${listCate.getId()}" readonly="true"></td>
                <td  th:name="categoryName" th:text="${listCate.getCategoryName()}"></td>
                <td>
                    <a th:href="@{/subcategory/{id}(id=${listCate.id})}"  >
                    <i class="fa fa-eye"></i>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/show/update/category/{id}(id=${listCate.id})}" >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:onclick=" 'deleteCategory('+${listCate.id}+')' ">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
</div>
<script>
    new DataTable('#example');
    // Function to delete a user
    function deleteCategory(id) {
        if (confirm("Are you sure delete this Category?")) {
            const url = `http://localhost:8081/Quizify/category/${id}`;
            fetch(url, {
                method: 'DELETE',
                headers:{
                    'Content-Type':'application/json'
                }
            })
                .then(response=>{
                    if (response.ok){
                        alert('Category delete  successfully.');

                        location.reload();
                    }else{
                        alert('failed  to delete Category!');
                    }
                })
                .catch(error=> {
                    console.error('Error:' ,error);
                    alert('failed to delete Category')
                })
        }
    }
</script>

<script th:src="@{/side/js/jquery.min.js}"></script>
<script th:src="@{/side/js/popper.js}"></script>
<script th:src="@{/side/js/bootstrap.min.js}"></script>
<script th:src="@{/side/js/main.js}"></script>
</body>
</html>