<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/ChangePassword.css}">
    <title>change password</title>
</head>
<body>
<div class="mainDiv">
    <div class="cardStyle">
        <form th:action="@{/changepassword/{email}(email=${user.getEmail()})}" method="post">
            <div style="display: flex;justify-content: center;align-items: center;">
                <img style="height: 200px; width: auto;" th:src="@{/images/7ae4c6dcf3d361648b8692595e2da179_t.jpeg}" alt=""/>

            </div>

            <h2 class="formTitle">
                Change Password
            </h2>
            <div style="text-align: center" th:if="${mess != null}">
                <p style="color: red" th:text="${mess}"></p>
            </div>

            <input type="hidden" name="username" th:value="${user.getEmail()}">

            <div class="inputDiv">
                <label class="inputLabel" for="Oldpass">Old password</label>
                <input type="password" id="Oldpass" name="oldPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <input type="password" id="password" name="newPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Continue</span>
                    <span id="loader"></span>
                </button>
            </div>
            <div class="buttonWrapper btn btn-primary" style="text-align: center">
                <a style="text-decoration: none;color: blue" th:href="@{/profile/{id}(id=${user.id})}">
                    Cancel
                </a>
            </div>

        </form>
    </div>
</div>

</body>
</html>