<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Test</title>
</head>
<body>
<h1>Create Test</h1>
<form th:action="@{/tests/create}" method="post">
    <label>User ID: <input type="text" name="userId"/></label><br/>
    <label>Quiz Bank ID: <input type="text" name="quizBankId"/></label><br/>
    <label>Number of Questions: <input type="number" name="numberOfQuestions"/></label><br/>
    <button type="submit">Create Test</button>
</form>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
</body>
</html>
