
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/images/g3a7adc2b05c8e7af06ebbaaae14c-h_lwi1zswa.png}" type="image/x-icon">
    <link href="@https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link th:href="@{/side/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <h1>Quizify</h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <!--                    <ul class="collapse list-unstyled" id="homeSubmenu">-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Home 1</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Home 2</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Home 3</a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->
                </li>
                <li>
                    <a href="#">My Library</a>
                </li>
                <li>
                    <a href="#">Favorite Quiz Bank</a>
                </li>
                <li>
                    <a href="#">Recently</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Notification</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright © 2024 Quizify. All Rights Reserved.
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary me-3">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex ms-auto my-2 my-lg-0 w-50">
                        <div class="input-group w-100">
                            <input type="text" name="keyword" class="form-control" placeholder="Search" aria-label="Search">
                            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>My Library</h1>

        <a th:href = "@{/quiz-banks/create-quiz-bank}" class="btn btn-primary btn-sm mb-3"> Add Quiz </a>

        <table border="1" class = "table table-striped table-responsive-md" id="example">
            <thead>
            <tr>
                <th>Quiz Name</th>
                <th>About</th>
                <th>Created Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quizBank : ${quizBanksList}">
                <td th:text="${quizBank.bankName}"></td>
                <td th:text="${quizBank.createdAt}"></td>
                <td th:text="${quizBank.subcategory.getSubcategoryName()}"></td>
                <td><a th:href="@{/quiz-banks/quiz-bank-detail/{id} (id=${quizBank.id})}">
                    <i class="fa fa-eye"></i>
                </a>
                    <a th:href="@{/quiz-banks/delete-quiz-bank/{id} (id=${quizBank.id})}">
                        <i class="fa fa-trash-o"></i>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
</div>
<script>
    new DataTable('#example');
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script th:src="@{/side/js/jquery.min.js}"></script>
<script th:src="@{/side/js/popper.js}"></script>
<script th:src="@{/side/js/bootstrap.min.js}"></script>
<script th:src="@{/side/js/main.js}"></script>
</body>
</html>