<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/login.css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
  <div class="logo">
    <img src="/static/images/Screenshot%202024-06-10%20110207.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    Welcom to QUIZIFY!
  </div>
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="userName" id="userName" placeholder="Username">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" placeholder="Password">
    </div>
    <button class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    <div class="float-left">
      <a href="#">Forget password?</a>
    </div>
    <div class="float-right">
      <a href="#">Sign up</a>
    </div>
    <div style="clear: both;"></div>
  </div>

</div>
</body>
</html>