<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/login.css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
  <div class="logo">
    <img src="/images/loginImg.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    Welcom to QUIZIFY!
    <p th:if="${error != null}" style="color: red; font-size: 14px">Error: <span th:text="${error}"></span></p>
  </div>
  <form action="/login" method="post" class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <label for="email"></label><label for="email"></label><input type="text" name="email" id="email" placeholder="email">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <label for="password"></label><label for="password"></label><input type="password" name="password" id="password" placeholder="password">
    </div>
    <button class="btn mt-3" type="submit">Login</button>
  </form>
  <div class="text-center fs-6">
    <div class="float-left">
      <a href="#">Forget password?</a>
    </div>
    <div class="float-right">
      <a th:href="@{/show_page_register}">Sign up</a>
    </div>
    <div style="clear: both;"></div>
  </div>

</div>
</body>
</html>