<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/images/g3a7adc2b05c8e7af06ebbaaae14c-h_lwi1zswa.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css"
          integrity="sha512-uZ+G0SzK4GMUDUzxzbIeLGLjYgAhQ2KrIV4bWIP5o6URt5XVcn8S02eW6C1DH35bqq/XX1jYwlhhNPPIE1+q1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.3/pretty-checkbox.min.css"
          integrity="sha512-kz4Ae66pquz4nVE5ytJyKfPDkQyHSggaDtT1v8oLfOd8bB+ZgZXNLaxex99MNu4fdCsWmi58mhLtfGk5RgfcOw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.2.4/svg.min.js"
            integrity="sha512-ovlWyhrYXr3HEkGJI5YPXIFYIbHEKs2yfemKVVIIQe9U74tXyTuVdzMlvZlw/0X5lnIDRgtVlckrkeuCrDpq4Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" th:href="@{/side/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/comment.css}">
    <link rel="stylesheet" th:href="@{/css/star.css}">
<!--    nếu src này lỗi thì dùng src này : 1pmk8e03g0ickiw00s0jyxrkir32hmkli89q7wyn782shvdo-->
<!--    src old h2ruakcf0geb68thp7njx9cias7si0f7q2zoxs6p2ue65v4k-->
    <script src="https://cdn.tiny.cloud/1/1pmk8e03g0ickiw00s0jyxrkir32hmkli89q7wyn782shvdo/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script th:src="@{/js/comment.js}"></script>
    <script th:src="@{/js/star.js}"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat',
            toolbar_mode: 'floating',
        });


    </script>
    <link th:href="@{/side/css/input-field.css}" rel="stylesheet">

</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <h1>Quizify</h1>
            <ul class="list-unstyled components mb-5">
                <li >
                    <a th:href="@{/userHome}"><span class="mr-2"><i class="fa-solid fa-house"></i></span>Home</a>
                </li>
                <li>
                    <a th:href="@{/quiz-banks/library}"><span class="mr-2"><i class="fa-solid fa-book"></i></span>My Library</a>
                </li>
                <li>
                    <a th:href="@{/show/favorite_quiz_banks}"><span class="mr-2"><i class="fa-solid fa-heart"></i></span>Favorite Quiz Bank</a>
                </li>
                <li>
                    <a th:href="@{/tests/my-practice}"><span class="mr-2"><i class="fa-solid fa-feather"></i></span>My Practice</a>
                </li>

                <li th:if="${session.user.getRole().id ==1 || session.user.getRole().id==2}">
                    <a href="#pageSubmenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="mr-2"><i class="fa-solid fa-list-check"></i></span>Management</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a th:href="@{/manage_account}">Account List</a>
                        </li>
                        <li>
                            <a th:href="@{/quiz-banks/quiz-banks-list}">Quiz Banks List</a>
                        </li>
                        <li >
                            <a th:href="@{/category}">Category List</a>
                        </li>
                    </ul>
                </li>


                <li th:if="${session.user.getRole().id ==1 || session.user.getRole().id==2}">
                    <a th:href="@{/show/statistics}"><span class="mr-2"><i class="fa-solid fa-chart-line"></i></span>Dashboard</a>
                </li>

                <li>
                    <a th:href="@{/}"><span class="mr-2"><i class="fa-solid fa-circle-info"></i></span>About</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright © 2024 Quizify. All Rights Reserved.
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary me-3">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 16px">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/userHome}">
                                <span class="mr-2"><i class="fa-solid fa-house"></i></span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" id="notificationButton" href="#" type="button"><i class="fa-solid fa-bell"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="link" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" >
                                <span th:text="${session.user.fullName}"></span>
                                <span class="ml-1"><i class="fa-solid fa-user"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-item-custom" th:href="@{/profile/{id}(id=${session.user.id})}">My Profile <i class="fa-solid fa-user-pen"></i></a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item dropdown-item-custom" >Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">

                <div class="mb-3" th:text="@{${quizBank.subcategory.getCategory().getCategoryName()} +' > '+ ${quizBank.subcategory.getSubcategoryName()}}">
                    <span th:text="${quizBank.subcategory.getSubcategoryName()}"></span>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${quizBank.bankName}"></h2>
                        <p class="card-text" th:text="${quizBank.description}"></p>
<!--                        add favorite quiz banks-->
                        <form th:action="@{/add/favorite_quiz_bank}" method="post">
                            <input type="hidden" name="quizBankId" th:value="${quizBank.id}">
                            <button th:disabled="${exitFavoriteQuizBanks}" th:classappend="${exitFavoriteQuizBanks ? 'active' : ''}" type="submit" class="button-no-border">
                                <i class="fa fa-heart" aria-hidden="true">&nbsp;favorite</i>
                            </button>
                            <div th:if="${mess != null}">
                                <p style="color: green" th:text="${mess}"></p>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer row d-flex ml-0 mr-0">
                        <div class=" col-md">
                            <div class="total">
                                Total questions: <span class="ml-2" th:text="${totalQuestions}"></span>
                            </div>

                            <div >
                                <div class="pretty p-default p-switch">
                                    <input type="radio" th:field="${quizBank.status}" value="true" disabled/>
                                    <div class="state p-success">
                                        <label>Public</label>
                                    </div>
                                </div>

                                <div class="pretty p-default p-switch p-fill">
                                    <input type="radio" th:field="${quizBank.status}" value="false" disabled/>
                                    <div class="state p-success">
                                        <label>Private</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md">
                            <div class="star">
                                <!--                            <h7 th:text="${averageStar}"></h7>-->
                                <div class="rating-box">
                                    <span th:text="${averageStar}"></span>
                                    <span class="fa fa-star" aria-hidden="true" th:classappend=" ${averageStar >= 1} ? 'active' "></span>
                                    <span class="fa fa-star" aria-hidden="true" th:classappend=" ${averageStar >= 2} ? 'active' "></span>
                                    <span class="fa fa-star" aria-hidden="true" th:classappend=" ${averageStar >= 3} ? 'active' "></span>
                                    <span class="fa fa-star" aria-hidden="true" th:classappend=" ${averageStar >= 4} ? 'active' "></span>
                                    <span class="fa fa-star" aria-hidden="true" th:classappend=" ${averageStar >= 5} ? 'active' "></span>
                                </div>
                            </div>
                            <div class="star">
                                <div class="view-user-voted">
                                    <i class="fa fa-users"  aria-hidden="true"></i>
                                    <span th:text="${votes.size()}"></span> users voted
                                </div>
                            </div>
                        </div>
                        </div>



<!--                    <p class="card-text" th:text="${quizBank.subcategory.getSubcategoryName()}">Topic: </p>-->
                </div>
<!--                <div class="card mt-3">-->
<!--                                    <div class="card-body">-->
<!--                    Total questions: <span class="card-text" th:text="${totalQuestions}"></span>-->
<!--                    &lt;!&ndash;                    Topic: <span class="card-text" th:text="${quizBank.subcategory.getSubcategoryName()}"></span>&ndash;&gt;-->
<!--                                    </div>-->
<!--                </div>-->

            <div class="row sticky-top bg-light pb-3" >
                <div class="col-sm-5" th:if="${session.user.id == quizBank.createdBy.id || session.user.role.id == 1 || session.user.role.id == 2}">
                    <a th:href="@{/quiz-banks/update-quiz-bank/{id} (id=${quizBank.id})}" class="w-100 border-bottom border-5 btn btn-primary mt-3 d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-pen-to-square"></i></span>
                        <span style="font-weight : 500">Update Quiz Bank</span>
                        <span><i class="fa-solid fa-caret-right"></i></span>
                    </a>
                </div>
                <div class="col-sm-5 p-0">
                    <button type="button" class="w-100 btn btn-success mt-3 d-flex justify-content-between align-items-center" id="practice">
                        <span><i class="fa-solid fa-person-chalkboard"></i></span>
                        <span style="font-weight : 500">Practice with Mock Test</span>
                        <span><i class="fa-solid fa-caret-right"></i></span>
                    </button>
                </div>
                <div class="col-sm-2 mt-4">
                    <div class="pretty p-switch p-fill">
                        <input type="checkbox" id="toggleAnswers">
                        <div class="state">
                            <label for="toggleAnswers" style="font-weight : 500">Show Answers</label>
                        </div>
                    </div>
                </div>
            </div>


            <div th:each="entry, iterStat : ${questionChoicesMap.entrySet()}" class="mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <span th:text="@{${iterStat.index + 1}+'. '+${entry.key.content}}">Question Text</span>
                            <div th:if="${entry.key.image != null && entry.key.image != ''}">
                                <img class="h-25 w-25 pt-3" th:src="@{'/images/uploads/' + ${entry.key.image}}" />
                            </div>

                        </div>
                        <ul class="list-group">
                            <li th:each="choice, iterStat : ${entry.value}" th:if="${iterStat.index < 4}" class="list-group-item">
                                <span th:text="${choice.content}">Option Text</span>

                            </li>
                        </ul>
                    </div>
                    <div class="card-footer answer" id="answer">
                        <span class="correct-answer font-weight-bold text-success">Correct Answer: </span><span th:text="${entry.key.getCorrectAnswer().content}"></span>
                    </div>
                </div>
            </div>
        </div>
            <button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#commentModal">
                Comment
            </button>
            <div class="star">
                <form th:action="@{/quiz-banks/vote}" method="post">
                    <div class="rating-box">
                        <label>
                            <!--                            tra ve cac bien request votes and notifications-->
                            <input type="hidden" name="quizBanksID" th:value="${quizBank.id}">
                            <input type="hidden" name="userID" th:value="${session.user.id}">
                            <input type="hidden" id="star" name="star" value="">
                            <input type="hidden" name="receivedBy" th:value="${quizBank.createdBy.id}">
                            <input type="hidden" name="link" th:value=" '/quiz-banks/quiz-bank-detail/'+ ${quizBank.id} ">
                        </label>
                        <i class="fa fa-star" aria-hidden="true" th:classappend=" ${star >= 1} ? 'active' " th:onclick=" 'setStarValue(1)' "></i>
                        <i class="fa fa-star" aria-hidden="true" th:classappend=" ${star >= 2} ? 'active' " th:onclick=" 'setStarValue(2)' "></i>
                        <i class="fa fa-star" aria-hidden="true" th:classappend=" ${star >= 3} ? 'active' " th:onclick=" 'setStarValue(3)' "></i>
                        <i class="fa fa-star" aria-hidden="true" th:classappend=" ${star >= 4} ? 'active' " th:onclick=" 'setStarValue(4)' "></i>
                        <i class="fa fa-star"  aria-hidden="true" th:classappend=" ${star >= 5} ? 'active' " th:onclick=" 'setStarValue(5)' "></i>
                        <button class="btn btn-info" type="submit" th:disabled="${star >0}">
                            <span><i class="fa-solid fa-paper-plane"></i></span>
                        </button>
                    </div>
                </form>
            </div>


        <!-- Modal -->
        <div id="mockTestModal" tabindex="-1" aria-labelledby="mockTestModalLabel" aria-hidden="true" style="display: none">
            <div>
                <div>
                    <form th:action="@{/tests/create}" th:object="${test}" method="post" id="createMockTest">
                        <div>
                            <div class="form-group row align-items-center">
                                <label for="title" class="col-sm-1">Title:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title" name="title" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="numberOfQuestions">Number of Questions:</label>
                                <input type="number" class="form-control d-inline-block w-25 ml-2" id="numberOfQuestions" name="numberOfQuestions" min="1" required>
                                <span hidden id="totalQuestionsText"></span>
                            </div>
                            <div class="form-group">
                                <div class="pretty p-svg p-plain p-bigger p-smooth">
                                    <input type="radio" id="firstNQuestions" name="questionOrder" value="first" checked>
                                    <div class="state">
                                        <img class="svg" th:src="@{/images/svgviewer-output.svg}"/>
                                        <label for="firstNQuestions">From first <span id="numberOfQuestionsText"><span id="totalQuestionsText3"></span></span> questions</label>
                                    </div>
                                </div>
                                <div class="pretty p-svg p-plain p-bigger p-smooth">
                                    <input type="radio" id="shuffleQuestions" name="questionOrder" value="shuffle">
                                    <div class="state">
                                        <img class="svg" th:src="@{/images/svgviewer-output.svg}"/>
                                        <label for="shuffleQuestions">From total <span id="totalQuestionsText2"></span> questions</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pretty p-switch p-fill">
                                <input type="checkbox" class="form-check-input" id="shuffleChoices" name="shuffleChoices">
                                <div class="state">
                                    <label for="shuffleChoices">Shuffle Choices</label>
                                </div>
                            </div><br>
                            <div class="form-group pretty p-switch p-fill">
                                <input type="checkbox" id="enableTimeLimit" name="enableTimeLimit">
                                <div class="state">
                                    <label for="enableTimeLimit"> Time Limit: </label>
                                </div>
                            </div>
                            <input type="number" class="form-control d-inline-block w-25 ml-2" id="timeLimit" name="timeLimit" min="1" disabled> Minutes


                            <input type="hidden" name="quizBankId" th:value="${quizBank.id}">
                        </div>
<!--                        <div class="modal-footer">-->
                        <div>

                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<!--        comment model-->
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="mockTestModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="commentModalLabel">Comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="editor-container">
                                <form th:action="@{/quiz-banks/comment}" method="POST">
                                    <label for="mytextarea">enter comment here:</label>
                                    <input type="hidden" name="userID" th:value="${session.user.id}">
                                    <input type="hidden" name="nameUser" th:value="${session.user.fullName}">
                                    <input type="hidden" name="quizBanksID" th:value="${quizBank.id}">
                                    <input type="hidden" name="receivedBy" th:value="${quizBank.createdBy.id}">
                                    <input type="hidden" name="link" th:value=" '/quiz-banks/quiz-bank-detail/' +${quizBank.id}">
                                    <textarea id="mytextarea" name="content" placeholder="enter your comment"></textarea>
                                    <button type="submit">Send</button>
                                </form>
                                <div class="comments">
                                    <h2>Comments</h2>
                                    <div th:each="comments : ${commentsList}">
                                        <div class="comment">
                                            <div class="header-comment">
                                                <h5 th:text="${comments.getUser().fullName}"></h5>
                                                <small th:text="${#temporals.format(comments.create_at,'dd/MM/yyyy HH:mm:ss')}"></small>
                                            </div>
                                            <p th:text="${comments.comment}"></p>
                                            <div class="dropdown">
                                                <button th:hidden="${session.user.id != comments.user.id}"
                                                        onclick="toggleDropdown(this)" class="dropdown-btn">
                                                    ...
                                                </button>
                                                <div class="dropdown-content">
                                                    <a th:href="@{/quiz-banks/edit/comment/{id}(id=${comments.id})}" >Edit</a>
                                                    <a href="#" th:onclick=" 'deleteComment(' + ${comments.id} + ')' ">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js" integrity="sha512-lR/2z/m/AunQdfBTSR8gp9bwkrjwMq1cP0BYRIZu8zd4ycLcpRYJopB+WsBGPDjlkJUwC6VHCmuAXwwPHlacww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', function() {

                const toggleAnswersCheckbox = document.getElementById('toggleAnswers');

                toggleAnswersCheckbox.addEventListener('change', function() {

                    const answers = document.querySelectorAll('.answer');
                    answers.forEach(function(answer) {
                        if (toggleAnswersCheckbox.checked) {
                            answer.style.display = 'block';
                        } else {
                            answer.style.display ='none';
                        }
                    });
                });


                document.querySelectorAll('.answer').forEach(function(answer) {
                    answer.style.display = 'none';

                });

                // Existing JavaScript code
                const maxQuestions = /*[[${quizBank.questions.size()}]]*/;
                document.getElementById('totalQuestionsText').innerText = `from ${maxQuestions}`;
                document.getElementById('totalQuestionsText2').innerText = `${maxQuestions}`;
                document.getElementById('totalQuestionsText3').innerText = `${maxQuestions}`;

                $("#mockTestModal").iziModal({
                    title: '<i class="fas fa-cog"></i> Mock Test Setting',  // Use 'fas' instead of 'fa-solid' for Font Awesome 6
                    width: 600,
                    padding: 30,
                    fullscreen: false,
                    closeOnEscape: true,
                    overlayClose: true,
                    onOpening: function(modal) {
                        $("#mockTestModal").css({
                            'background-color': '#f9f9f9',
                            'border-radius': '10px',
                            'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.1)'
                        });
                        $("#mockTestModal .iziModal-header").css({
                            'background-color': '#ff9a41',
                            'color': 'white',
                            'padding': '15px',
                            'border-top-left-radius': '10px',
                            'border-top-right-radius': '10px',
                            'font-size': '40px'
                        });
                        $("#mockTestModal .iziModal-header-title").css({
                            'font-size': '20px',
                            'font-family': 'Poppins, Arial, sans-serif',
                            'font-weight': '500'
                        });
                        $("#mockTestModal .iziModal-title").css({
                            'font-size': '1.5em'
                        });
                        $("#mockTestModal .iziModal-content").css({
                            'padding': '20px',
                            'color': '#333'
                        });
                        $("#mockTestModal .iziModal-footer").css({
                            'padding': '10px 20px',
                            'border-bottom-left-radius': '10px',
                            'border-bottom-right-radius': '10px',
                            'text-align': 'right'
                        });
                        $("#mockTestModal .iziModal-button").css({
                            'background-color': '#f89432',
                            'color': 'white',
                            'border': 'none',
                            'padding': '10px 20px',
                            'border-radius': '5px',
                            'cursor': 'pointer'
                        }).hover(function() {
                            $(this).css('background-color', '#d58637');
                        }, function() {
                            $(this).css('background-color', '#d58637');
                        });
                    }
                });

                $(document).on('click', '#practice', function() {
                    $('#mockTestModal').iziModal('open');
                    $('.sticky-top').hide();
                });

                $("#mockTestModal").on('closing', function () {
                    $('.sticky-top').show();
                });

                $("#mockTestModal").on('show.bs.modal', function () {
                    const numberOfQuestionsInput = document.getElementById('numberOfQuestions');
                    numberOfQuestionsInput.value = maxQuestions;
                    numberOfQuestionsInput.max = maxQuestions; // Set max attribute to ensure it's not exceeded
                });

                document.getElementById('numberOfQuestions').addEventListener('change', function() {
                    let value = parseInt(this.value);
                    if (value > maxQuestions) {
                        this.value = maxQuestions;
                        value = maxQuestions;
                        console.log('value: '+value);
                    } else if (value < 1) {
                        this.value = 1;
                        value= 1;
                    }
                    console.log('max: '+maxQuestions)
                    console.log(value)
                    document.getElementById('numberOfQuestionsText').innerText = value;
                });

                document.getElementById('enableTimeLimit').addEventListener('change', function() {
                    const timeLimitInput = document.getElementById('timeLimit');
                    if (this.checked) {
                        timeLimitInput.disabled = false;
                        timeLimitInput.value = 60;
                    } else {
                        timeLimitInput.disabled = true;
                        timeLimitInput.value = '';
                    }
                });

                document.getElementById('timeLimit').addEventListener('input', function() {
                    if (this.value < 1) {
                        this.value = 1;
                    }
                });

            });
        </script>

        <script>
            //delete comment
            function deleteComment(id){
                if (confirm("are you sure delete this comment?")) {
                    const url = `http://localhost:8081/Quizify/quiz-banks/delete/comment/${id}`;
                    fetch(url ,{
                        method: 'DELETE',
                        headers: {
                            'Content-Type':'application/json'
                        }
                    })
                        .then(response => {
                            if (response.ok){
                                alert('delete comment successfully.')
                                location.reload();
                            }else{
                                alert('delete comment failed!')
                            }
                        })
                        .catch(error => {
                            console.error('Error :',error)
                            alert('failed to delete commnet')
                        })
                }

            }

            //take star
            function setStarValue(valueStar){
                document.getElementById('star').value=valueStar;
            }
        </script>


    </div>
</div>

<script th:src="@{/side/js/main.js}"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>