
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/images/g3a7adc2b05c8e7af06ebbaaae14c-h_lwi1zswa.png}" type="image/x-icon">
    <link href="@https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link th:href="@{/side/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <h1>Quizify</h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <!--                    <ul class="collapse list-unstyled" id="homeSubmenu">-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Home 1</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Home 2</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Home 3</a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->
                </li>
                <li>
                    <a href="#">My Library</a>
                </li>
                <li>
                    <a href="#">Favorite Quiz Bank</a>
                </li>
                <li>
                    <a href="#">Recently</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Notification</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright © 2024 Quizify. All Rights Reserved.
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary me-3">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--                    <form class="d-flex ms-auto my-2 my-lg-0 w-50">-->
                    <!--                        <div class="input-group w-100">-->
                    <!--                            <input type="text" name="keyword" class="form-control" placeholder="Search" aria-label="Search">-->
                    <!--                            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>-->
                    <!--                        </div>-->
                    <!--                    </form>-->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notification</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="link" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" >
                                <span th:text="${session.user.fullName}"></span>
                                <span><i class="fa-solid fa-user"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-item-custom" th:href="@{/profile/{id}(id=${session.user.id})}">My Profile <i class="fa-solid fa-user-pen"></i></a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item dropdown-item-custom" >Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="text-align: center">
            <h1 >SUBCATEGORIES LIST</h1>
        </div>


        <a class="btn btn-primary btn-sm mb-3" th:href="@{/show/create/subCategory}" > Create SubCategory</a>

        <table border="1" class = "table table-striped table-responsive-md" id="example">
            <thead>
            <tr>
                <th>ID</th>
                <th>SUBCATEGORY NAME</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listSubCate : ${listSubCategory}">
                <td th:name="subCategoryid" th:text="${listSubCate.id}" ></td>
                <td th:name="subCategoryName" th:text="${listSubCate.subcategoryName}"></td>

                <td>
                    <a th:href="@{/show/update/subCategory/{id}(id=${listSubCate.id})}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a th:href="@{/quiz-banks/quiz-banks-list/{id}(id=${listSubCate.id})}">
                    <i class="fa fa-eye"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a th:onclick=" 'deleteSubCategory('+${listSubCate.id}+')' ">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
</div>
<script>
    new DataTable('#example');
    // Function to delete a user
    function deleteSubCategory(id) {
        if (confirm("Are you sure delete this SubCategory?")) {
            const url = `http://localhost:8081/Quizify/subcategory/${id}`;
            fetch(url, {
                method: 'DELETE',
                headers:{
                    'Content-Type':'application/json'
                }
            })
                .then(response=>{
                    if (response.ok){
                        alert('SubCategory delete  successfully.');

                        location.reload();
                    }else{
                        alert('failed  to delete SubCategory!');
                    }
                })
                .catch(error=> {
                    console.error('Error:' ,error);
                    alert('failed to delete SubCategory')
                })
        }
    }
</script>

<script th:src="@{/side/js/jquery.min.js}"></script>
<script th:src="@{/side/js/popper.js}"></script>
<script th:src="@{/side/js/bootstrap.min.js}"></script>
<script th:src="@{/side/js/main.js}"></script>
</body>
</html>