<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/images/g3a7adc2b05c8e7af06ebbaaae14c-h_lwi1zswa.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/side/css/style.css}">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <h1>Quizify</h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">My Library</a>
                </li>
                <li>
                    <a href="#">Favorite Quiz Bank</a>
                </li>
                <li>
                    <a href="#">Recently</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Notification</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright © 2024 Quizify. All Rights Reserved.
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <h2>Update Quiz Bank</h2>
            <form th:action="@{/quiz-banks/saved}" th:object="${quizBank}" method="POST" id="quizBankForm">
                <input type="hidden" th:field="*{id}">
                Title: <input type="text" th:field="*{bankName}" placeholder="Quiz Bank Name" class="form-control mb-4 col-4" required>
                Description: <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4">
                Topic:

                <select th:field="*{subcategory}" class="form-control mb-4 col-4 selectpicker" required>

                    <th:block th:each="category : ${categoryList}">
                        <optgroup th:label="${category.categoryName}">
                            <th:block th:each="sub : ${category.subcategories}">
                                <option th:value="${sub.id}" th:text="${sub.subcategoryName}" th:selected="${sub == quizBank.subcategory}"></option>
                            </th:block>
                        </optgroup>
                    </th:block>

                </select>
                <input type="hidden" th:field="*{createdAt}" >
                <input type="hidden" id="modifiedAt" th:field="*{modifiedAt}">
                <input type="hidden" th:field="*{createdBy}" />

                <!-- Question Section -->
                <div id="questionsSection">
                    <div th:each="entry, iterStat : ${questionChoicesMap.entrySet()}" class="card mb-4 question">
                        <div class="card-body">
                            <label th:text="'Question ' + ${iterStat.index + 1}"></label>
                            <input type="text" th:field="*{questions[__${iterStat.index}__].content}" class="form-control mb-2" required>
                            <button type="button" class="btn btn-danger btn-sm remove-question mb-3" th:data-id="${iterStat.index}"><i class="fa fa-trash"></i></button>
                            <div class="choices">
                                <div th:each="choice, choiceStat : ${entry.value}" class="form-check">
                                    <label>
                                        <input type="radio" th:name="|questions[${iterStat.index}].correctChoice|" th:value="${choiceStat.index}" class="form-check-input mb-2" th:onclick="'updateCorrectChoice(' + ${iterStat.index} + ',' + ${choiceStat.index} + ')'" th:checked="${choice.correctOrNot}">
                                        <input type="hidden" th:field="*{questions[__${iterStat.index}__].questionChoices[__${choiceStat.index}__].correctOrNot}" th:value="${choice.correctOrNot}">
                                        <input type="text" th:field="*{questions[__${iterStat.index}__].questionChoices[__${choiceStat.index}__].content}" class="form-control mb-2" required>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Question Button -->
                <button type="button" class="btn btn-sm btn-success add-question"><i class="fa fa-plus"></i> Add Question</button>
                <button type="submit" class="btn btn-sm btn-success save-button">Save</button>
            </form>

            <!-- Success and Error Messages -->
            <div th:if="${error}" class="alert alert-danger mt-4" id="errorAlert">
                <p th:text="${error}"></p>
            </div>
        </div>

        <!-- JavaScript to dynamically add new questions -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let formChanged = false;
                const addQuestionButton = document.querySelector('.add-question');
                const saveButton = document.querySelector('.save-button');
                const quizBankForm = document.getElementById('quizBankForm');
                const questionsSection = document.getElementById('questionsSection');
                const errorAlert = document.getElementById('errorAlert');

                addQuestionButton.addEventListener('click', function() {
                    formChanged = true;
                    const questionCount = questionsSection.querySelectorAll('.question').length;
                    if (errorAlert) {
                        errorAlert.style.display = 'none';
                    }

                    const newQuestionHtml = `
                        <div class="card mb-4 question">
                            <div class="card-body">
                                <label>Question ${questionCount + 1}</label>
                                <input type="text" name="questions[${questionCount}].content" class="form-control mb-2" required>
                                <button type="button" class="btn btn-danger btn-sm remove-question mb-3" data-id="${questionCount}"><i class="fa fa-trash"></i></button>
                                <div class="choices">
                                    ${[...Array(4)].map((_, index) => `
                                        <div class="form-check">
                                            <label>
                                                <input type="radio" name="questions[${questionCount}].correctChoice" value="${index}" class="form-check-input mb-2" onclick="updateCorrectChoice(${questionCount}, ${index})" required>
                                                <input type="hidden" name="questions[${questionCount}].questionChoices[${index}].correctOrNot" value="false">
                                                <input type="text" name="questions[${questionCount}].questionChoices[${index}].content" class="form-control mb-2" required>
                                            </label>
                                        </div>
                                    `).join('')}
                                </div>
                            </div>
                        </div>
                    `;
                    questionsSection.insertAdjacentHTML('beforeend', newQuestionHtml);
                    attachRemoveQuestionHandlers();
                });

                attachRemoveQuestionHandlers();

                function attachRemoveQuestionHandlers() {
                    const removeButtons = document.querySelectorAll('.remove-question');
                    removeButtons.forEach(button => {
                        button.removeEventListener('click', handleRemoveQuestion);
                        button.addEventListener('click', handleRemoveQuestion);
                    });
                }

                function handleRemoveQuestion(event) {
                    formChanged = true;
                    const question = event.target.closest('.question');
                    const questionId = $(event.target).closest('.remove-question').data('id');

                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'This action cannot be undone!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            question.remove();
                            updateQuestionLabels();
                            Swal.fire('Deleted!', 'The question has been removed.', 'success');
                        }
                    });
                }

                function updateQuestionLabels() {
                    const questions = questionsSection.querySelectorAll('.question');
                    questions.forEach((question, index) => {
                        question.querySelector('label').textContent = `Question ${index + 1}`;
                        const inputs = question.querySelectorAll('input');
                        inputs.forEach(input => {
                            const name = input.getAttribute('name');
                            if (name) {
                                const updatedName = name.replace(/\d+/, index);
                                input.setAttribute('name', updatedName);
                            }
                        });
                    });
                }

                saveButton.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent the form from submitting immediately
                    Swal.fire({
                        title: "Do you want to save the changes?",
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: "Save",
                        denyButtonText: "Don't save"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire("Saved!", "", "success");
                            formChanged = false; // Reset the flag
                            quizBankForm.submit(); // Submit the form if confirmed
                        } else if (result.isDenied) {
                            Swal.fire("Changes are not saved", "", "info");
                        }
                    });
                });

                // Listen for form changes to set the flag
                quizBankForm.addEventListener('change', function() {
                    formChanged = true;
                });

                // Handle beforeunload event to warn user about unsaved changes
                window.addEventListener('beforeunload', function(event) {
                    if (formChanged) {
                        event.preventDefault();
                        event.returnValue = '';
                    }
                });
            });

            function updateCorrectChoice(questionCount, index) {
                const radios = document.getElementsByName(`questions[${questionCount}].correctChoice`);
                radios.forEach(radio => {
                    const currentIndex = radio.value;
                    const hiddenInput = document.querySelector(`input[name='questions[${questionCount}].questionChoices[${currentIndex}].correctOrNot']`);
                    hiddenInput.value = (currentIndex == index) ? "true" : "false";
                });
            }
        </script>

        <script th:src="@{/side/js/popper.js}"></script>
        <script th:src="@{/side/js/bootstrap.min.js}"></script>
        <script th:src="@{/side/js/main.js}"></script>
    </div>
</div>

</body>
</html>
