<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quizify - Quiz Banks</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Your Quiz Banks</h1>
    <ul class="list-group">
        <li class="list-group-item" th:each="quizBank : ${createdQuizBanks}">
            <span th:text="${quizBank.bankName}">Quiz Bank Name</span>
            <a class="btn btn-danger btn-sm float-right" th:href="@{/quiz-banks/delete/{id}(id=${quizBank.quizBanksId})}">Delete</a>
            <a class="btn btn-primary btn-sm float-right mr-2" th:href="@{/quiz-banks/edit/{id}(id=${quizBank.quizBanksId})}">Edit</a>
        </li>
    </ul>

    <h2>Public Quiz Banks</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="quizBank : ${joinedQuizBanks}">
            <span th:text="${quizBank.bankName}">Quiz Bank Name</span>
        </li>
    </ul>

    <a class="btn btn-success" th:href="@{/quiz-banks/create}">Create New Quiz Bank</a>
</div>
</body>
</html>
